#ftable{
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    width: 900px;
}
#ftable > tbody > tr > td{
    border: 2px solid black;
    width: 33%;
}
.d-header{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}
.radioR{
    display: inline-table;
}
.inputY{
    width: 50%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    border: 1px;
}
.inputY:focus{
    background: #EEEEEE;
    transition: 1s;
}
.link-go{
    transition: 0.3s ease-in-out;
    font-size: 20px;
    font-family: monospace;
    border: 2px solid black;
    color:black;
    text-decoration: none;
    background: white;
}
a.link-go{
    padding-left: 10px;
    padding-right: 10px;
}


.link-go:hover{
    transition: 0.3s ease-in-out;
    background: black;
    color: white;

}
.spinner{
    background: white;
    transition: 1s;
    width: 50%;
    height: 100%;
}
.spinner:active{
    background: #EEEEEE;
    transition: 1s;
}
::selection{
    background: black;
    color: white;
}